build/
*.gcda
deploy.zip
*.o
convert/node_modules/
tflite-model/
model-parameters/
edge-impulse-sdk
features.txt
images/
convert/
output.*.txt
out/
features*.txt
opencv/
*.onnx
convert-savedmodel/saved_model/
.DS_Store
